<p id="notice"><%= notice %></p>

<p>
  <strong>Hours:</strong>
  <%= @contract.hours %>
</p>

<p>
  <strong>Wage:</strong>
  <%= @contract.wage %>
</p>

<p>
  <strong>Start:</strong>
  <%= @contract.start_date %>
</p>

<p>
  <strong>End:</strong>
  <%= @contract.end_date %>
</p>

<p>
  <strong>Client:</strong>
  <%= @contract.client %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @contract.comment %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
