<%= form_for(@timeentry) do |f| %>
  <% if @timeentry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeentry.errors.count, "error") %> prohibited this timeentry from being saved:</h2>

      <ul>
      <% @timeentry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :duration %><br>
    <%= f.number_field :duration %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :contract_id %><br>
    <%= f.select :contract_id,
        Contract.all.collect {|c| [ c.client, c.id ] }, 
        #Contract.where(user: current_user).collect {|c| [ c.client ] }, 
        {include_blank: true} %>
  </div>
 <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= label_tag(:tags_string, "Tags") %><br>
    <%= text_field_tag(:tags_string, @timeentry.tags.order(:name).pluck(:name).join(" ")) %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
