
%nav.navbar
  %ul
    - if user_signed_in?
      %li
        %a= link_to "View Teams", teams_path
      %li
        %a= link_to "New Team", new_team_path

      %li
        %a= link_to "View Contracts", contracts_path
      %li
        %a= link_to "New Contract", new_contract_path

      %li
        %a= link_to "View Timeentries", timeentries_path
      %li
        %a= link_to "New Time Entry", new_timeentry_path

      %li.dropdown
        %a.dropdown-toggle User-Menu
        %ul
          // .dropdown-menu
          %li
            %a= link_to "New Password", new_user_password_path
          %li
            %a= link_to "Change Password", edit_user_password_path
          %li
            %a= link_to "Cancel new user", cancel_user_registration_path
          %li
            %a= link_to "Reg User", user_registration_path, method: :post
          %li
            %a= link_to "New User", new_user_registration_path
          %li
            %a= link_to "Edit User", edit_user_registration_path
          %li
            %a= link_to "Users", users_path
          %li
            %a= link_to "User", user_path(current_user.id)

      %li
        %a= link_to "Log out!", destroy_user_session_path, method: "delete"
    - else
      %li
        %a= link_to "Log in!", new_user_session_path
      %li
        %a= link_to "Register!", new_user_registration_path

